PORT=3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/madison_strong_towns_tracker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=madison_strong_towns_tracker
LEGISTAR_CLIENT=madison
